/*************************************************** PARA LAS CELDAS DE LA CODIFICACION*/
.table>tbody>tr>td {
    vertical-align: inherit;
    text-align: center;
}

pre {
  background-color:#eee;
  overflow:auto;
  margin:0 0 1em;
}
table#mytable th {
    text-align: center;
}

/**ESTOS ESTILOS SON DE LA NUMERACION DEL CODIGO HTML*/
pre code,
pre .line-number {
  font:normal normal 12px/14px "Courier New",Courier,Monospace;
  color:black;
  display:block;
}

pre .line-number {
  float:left;
  margin:0 1em 0 -1em;
  border-right:1px solid;
  text-align:right;
}

pre .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

pre .cl {
  display:block;
  clear:both;
}
/*************************************************************************************************/
/*Para el DATA PICKER*/
.ui-datepicker {
    font-size: 17px;
}
/*Para mi select2*/
span#select2-misterS1-container,span#select2-misterS2-container,span#select2-misterS3-container {
    margin: -14px;
    padding-left: 15px;
}
/* Para el IconPicker */
.fade:not(.show) {
    opacity: 1;
}
/* Para Registrados */
span#select2-regalo-container {
    margin-top: -12px;
}
span.select2-selection.select2-selection--single {
    padding: 18px;
}
span.select2-selection__arrow {
    padding-top: 37px;
}
/* GDLWEBCAMP */
.contenido-dia{
    display: none;
}
.tabla-precio ul,
ul.lista-precios{
    list-style:none;
    padding: 0;
    margin: 0;
}
h4.nombre_dia{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #fe4918;
}
ul.lista-precios li .numero{
    font-size: 30px;
}
.tabla-precio h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fe4918;
}
.contenido-dia label{
    font-weight: normal;
}
.contenido-dia time{
    color: #fe4918;
    font-size: bold;
}
/***************************************************** CODIGO PARA LA TABLA*/
#mytable1 th {
    text-align: center;
}